{% extends "base_generic.html" %}

{% block content %}
  <h1>Flights details :  {{ flight.number }} ({{flight.departure_day}}-{{flight.departure_time}})</h1>

  <h5> Additional information : </h5>
  <p><strong>Destination:</strong> {{ flight.connection_id.arrival_airport_id }} </p>
  <p><strong>Departure:</strong> {{ flight.connection_id.departure_airport_id }} </p>
  <p><strong>Airplane:</strong> {{ flight.airplane_id }}</p>

  <p><strong>Departure Gate:</strong> not yet specified </p>
  <p><strong>Boarding time:</strong> {{flight.departure_time}} </p>

{% endblock %}