{% extends "base_generic.html" %}

{% block content %}
  <h4>Marc Airlines information</h4>

  <p>Welcome to Marc Airlines information page, </p>

  <h4>About our company </h4>

  <p>Marc Airlines is a fictive company created for a school project. It has been freely inspired by the Airline Company presented in the TV Show <strong>La Flamme </strong>. </p>

  <h4>About the founders </h4>

  <p>Students in last year of Engineering school, partners of database project, Adrien and Simon worked on a website made to handle an airline company. You'll be able to see across this website, all the features learned during the course of database management.
   <br> Feel free to explore the different functionalities of the website and test features.</p>

  <p>For more information concerning airports and airplanes, please go directly on the airports and constructors websites. </p>


  <p> Feel free to give us a feedback send an email to <a href="mailto:MarcAirlines@feedbqcks.com">MarcAirlines@feedbacks.com</a>

{% endblock %}