{% extends "base_generic.html" %}

{% block content %}
  <p>    
    {% if user.is_authenticated%} 
      <h4>Your personal Data</h4>
      <ul>
        <li><strong>FullName</strong> {{ client.first_name }} {{ client.last_name }}</li>
        <li><strong>Adress</strong> {{ client.adress }}</li>
        <li><strong>Reservations</strong> {{ num_airports }}</li>
      </ul>

    {% else %}
    <h4> Not registered </h4>
    <p> To see your personal user data, please <a href="{% url 'login'%}?next={{request.path}}">Login</a> or fill in the form and contact an admin user at <a href="mailto:MarcAirlines@feedbqcks.com">MarcAirlines@feedbacks.com</a> to get an access</p>
      <form action="{% url 'homepage' %}" method="post">
        <label for="First_name">First Name: 
          <input id="first_name" type="text" name="first_name" value="{{ First_name }}">
        </label> 
        <br>
        <label for="Last_name">Last Name: 
          <input id="last_name" type="text" name="last_name" value="{{ Last_name }}">
        </label>
        <br>
        <label for="Adress">Adress Name:
          <input id="adress" type="text" name="adress" value="{{ Adress }}"> 
        </label>
        <br>
        <label for="Email">Email adress: 
          <input id="email_adress" type="text" name="email_adress" value="{{ Email_adress }}">
        </label>
        <br>
        <label for="Group">User category: 
          <input id="group" type="text" name="group" value="{{ Group }}">
        </label> 
        <br>
        {% csrf_token %}
        {{ form }}
        <button class="btn btn-primary" type="submit" value="Submit" role="button" href="{% url 'homepage' %}">Submit </button>
    </form>

    {% endif%}

{% endblock %}