{% extends "base_generic.html" %}

{% block content %}
  <h6>Welcome to Marc Airlines</h6>
  
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" >
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" >
      <div class="carousel-item active" data-bs-interval="3000">
        {% load static %}
        <img src="{% static 'images/airplane1.PNG' %}" class="d-block w-100">
        <div class="carousel-caption d-md-block">
          <h5>Fly with us on Marc Airlines</h5>
          <p>learn more about us and our offers</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        {% load static %}
        <img src="{% static 'images/destination.PNG' %}" class="d-block w-100">
        <div class="carousel-caption d-md-block">
          <h5>Where to go for your next holidays?</h5>
          <p>Don't waste time, book a flight</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        {% load static %} 
        <img src="{% static 'images/infrastructure.PNG' %}" class="d-block w-100">
        <div class="carousel-caption d-md-block">
          <h5>World class infrastructures</h5>
          <p>Go check the airplanes and partners' infrastructures</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <p>Live data :</p>
  <ul>
    <li><a href="{% url 'flights' %}"><strong>Flights:</strong></a> {{ num_flights }}</li>
    <li><a href="{% url 'departures' %}"><strong>Departures:</strong></a> {{ num_departures }}</li>
    <li><a href="{% url 'airports' %}"><strong>Airports:</strong></a> {{ num_airports }} </li>
  </ul>

  
{% endblock %}